.app-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid #ccc;
}

.left-pane {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 20%;
	height: 96vh;
	border: 1px solid #ccc;
	overflow-y: scroll;
}

input {
	width: 100%;
	margin: 8px 0;
	box-sizing: border-box;
}

.query-area {
	border: 1px solid #ccc;
}

.query-area ul,
.history ul,
.right-pane ul {
	margin: 0 !important;
	padding: 0 !important;
}

.query-area ul li,
.history ul li,
.right-pane ul li {
	list-style-type: none !important;
	border: 1px solid #ccc !important;
	height: 1.5rem !important;
	overflow: hidden !important;
}

.history > p {
	background-color: lightgrey;
}

.article {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 96vh;
	border: 1px solid #ccc;
	overflow: scroll;
}

.article > div {
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

#size-increase {
	font-size: x-large;
	font-family: monospace;
	position: fixed;
	top: 43%;
	right: 30%;
	z-index: 1;
}

#size-decrease {
	font-size: x-large;
	font-family: monospace;
	position: fixed;
	top: 49%;
	right: 30%;
	z-index: 1;
}

.right-pane {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 30%;
	border: 1px solid #ccc;
	overflow: scroll;
	height: 96vh;
}

.controls {
	display: flex;
	flex-direction: row;
}

.dialogue {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 25vw;
	max-width: 40vw;
	max-height: 70vh;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1rem;
	overflow: scroll;
	z-index: 3;
}

.dialogue ul li input {
	width: fit-content;
}

#dialogue-group-manager {
	min-width: 40vw;
	max-width: 70vw;
}

